<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center d-flex flex-column align-items-center gap-3">

    <!-- Copyright -->
    <div class="g-2">
      <span>&copy; 2025 BudgetBnb Pvt Ltd. All rights reserved.</span>
    </div>

    <!-- Policy Links -->
    <div class="d-flex flex-wrap justify-content-center gap-3 small">
      <a href="/privacy" class="text-white text-decoration-none">Privacy</a>
      <a href="/terms" class="text-white text-decoration-none">Terms</a>
      <a href="/sitemap" class="text-white text-decoration-none">Sitemap</a>
      <a href="/c-details" class="text-white text-decoration-none">Company Details</a>
    </div>

    <!-- Social Links -->
    <div class="d-flex justify-content-center gap-4 fs-5">
      <a href="/facebook" class="text-white"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="/twitter" class="text-white"><i class="fa-brands fa-twitter"></i></a>
      <a href="/instagram" class="text-white"><i class="fa-brands fa-instagram"></i></a>
      <a href="/linkedin" class="text-white"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    <div class="w-100 text-end">Developed By: Gautam</div>
  </div>
</footer>
