<% layout('/layouts/boilerplate.ejs') -%>

  <body>
    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
      <form method="POST" action="/listing" novalidate class="container mt-4 needs-validation"
        enctype="multipart/form-data">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Enter title" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Looks not good!</div>
          </div>
          <div class="col-md-3">
            <label for="price" class="form-label">Price (INR)</label>
            <input type="number" name="price" id="price" class="form-control" placeholder="Enter price" min="0"
              required />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="col-md-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select" required>
              <option value="">Choose category</option>
              <option value="villa">Villa</option>
              <option value="camping">Camping</option>
              <option value="towers">Towers</option>
              <option value="farms">Farms</option>
              <option value="castles">Castles</option>
            </select>
            <div class="invalid-feedback">Please select a category</div>
          </div>


        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" rows="4" class="form-control" placeholder="Enter description"
            required></textarea>
          <div class="invalid-feedback">description should be there minimum 10 characters !</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" id="location" class="form-control" placeholder="Enter location/address"
              required />
            <div class="invalid-feedback">location should be valid</div>
          </div>
          <div class="col-md-6">
            <label for="image" class="form-label">Image Upload</label>
            <input type="file" name="image" id="image" class="form-control" required />
          </div>
        </div>

        <div class="w-100 text-center">
          <button type="submit" class="btn btn-primary w-50 m-4">
            Submit Listing
          </button>
        </div>
      </form>
    </div>
  </body>